@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-image: url(../images/background-SoVReign.png);
    background-color:#0C0F21;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;  
    background-repeat: no-repeat;
}
h1 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

h2{
    font-weight: 500;
    font-size: 2rem;
    color: white;
}
h3 {
    color: white;
    font-size: 1rem;
    font-weight: 200;
}

h4{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}



.navbar{
    padding: 16px 0px;
         background: transparent;
 }
 
 .nav-item{
     padding: 0 2rem 0 2rem;
 }
 .nav-link{
     font-weight: 200;
    opacity: 100;
 }
 
 .logo-txt{
     margin-left: 0.5em;
     font-weight: 200;
 }
 
 .navbar-toggler{
     border: none;
 }
 
 .container-fluid{
     padding:0 8%;
     height: 100vh;
 }

 #FAQ-title{
     padding: 4rem 0rem 2rem 0rem;
 }

 #FAQ-banner-image{
     padding: 4rem 0rem 0rem 0rem;
 }

 .FAQ-title{
     padding: 0rem 1rem;
     font-weight: 500;
     font-size: 2rem;
     color: white;
 }

#collapsable-cards{
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #0C0F21;
    
}


#collapsable-cards-last{
    margin-bottom: 6rem;
    border-radius: 10px;
    background-color: #0C0F21;
    
}

#collapse-btton-title {
    justify-content: start;
    text-align: left;
}

#nav-open-icon{
    padding-left: 0.5rem;
}
.footer-logo-txt{
    font-size: 1.1rem;
    font-weight: 200;
    color: white;
    padding-left: 1rem;
}

 .footer-links{
    font-size: 1rem;
    font-weight: 200;
    padding: 0rem 1rem;
    color: white;
}

.copyright-txt {
    font-size: 1rem;
    font-weight: 200;
    color: white;
} 



